.container{
    width: 900px;
    margin: 0px auto;
}

.row{
    width: 100%;
}

.table{
    width: 100%;
}

table, tr, th, td{
    border-collapse: collapse;
    border: 1px solid black;
}

.table thead tr th{
    padding: 10px 0px;
    background-color: orange;
    color: white;
}

.table tbody tr td{
    padding: 5px;
}

.table tbody tr:nth-child(odd){
    background-color: gainsboro;
}

.table tbody tr:hover{
    background-color: grey;
    color: white;
    cursor: pointer;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.bg-danger{
    background-color: red !important;
}

.d-none{
    display: none;
}